<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-left">
                <a href="/">About Me</a>
                <a href="/projects">Projects</a>
                <a href="/skills">Skills</a>
            </div>
            <div class="header-right">
                <a href="/login">Login</a>
                <!-- Display "Logout" when user is authenticated, otherwise "Login" -->
            </div>
        </div>
    </div>
</header>

<style>
    /* Add these styles to your existing CSS file */

