<link rel="stylesheet" href="css/project.css">

<style>
    .add-project-form{
        margin-top: 150px;
    }
</style>

<form action="/add-project" method="post" class="add-project-form">
    <input type="text" name="projectName" placeholder="Project Name" required>
    <input type="text" name="projectDescription" placeholder="Project Description" required>
    <input type="text" name="websiteLink" placeholder="Website Link" required>
    <button type="submit">Add Project</button>
</form>
