<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pranshu Adhwaryu - Software Developer</title>
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <div class="landing">
        <div class="text-section" id="text-section">
            <div class="text-animation">
                <h3>Hello, it's me</h3>
                <h1>Pranshu Adhwaryu</h1>
                <h2>And I'm a Software Developer</h2>
            </div>
            <div class="social-icons">
                <a href="https://github.com/Pranshh19" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/pranshu-adhwaryu/" target="_blank">LinkedIn</a>
                <a href="https://leetcode.com/OldMonk91/" target="_blank">LeetCode</a>
                <a href="https://codeforces.com/profile/Awesome91" target="_blank">Codeforces</a>

            </div>
            <a href="https://drive.google.com/file/d/10MblTIEQ-d693tXoK4cw25LaumazGltF/view?usp=sharing" class="download-button">Download CV</a>
        </div>
        <div class="info-cards" id="info-cards">
            <div class="info-card">
                <h3>Skills</h3>
                <p>HTML, CSS, JS,<br> Nodejs, Java, Postman,<br> Git, Github, MySQL <br>
                MongoDb, Material UI, Bootstrap <br></p>
                
            </div>
        </div>
        <div class="photo-section">
            <img src="/images/Pranshu_Adhwaryu.jpg" alt="Your Photo">
        </div>
    </div>
  
</body>
</html>
