<section class="home-section">
    <div class="home-container">
        <img src="/images/home.jpg" alt="Portfolio Image">
        <div class="home-text-on-image">Welcome to My Portfolio</div>
    </div>
</section>