<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-49YWZ5Z9GW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49YWZ5Z9GW');
</script>
    <title>Welcome to My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

    <header class="header" style="background-color:rgb(0, 0, 0)">
        <div style = "display: flex; justify-content:end; align-items:end; margin:10px;">
                    <a style="color:rgb(255, 255, 255); margin-right:20px" href="/login">Login</a>
                    <!-- Display "Logout" when user is authenticated, otherwise "Login" -->
        </div>
    </header>

    <%-body%>
</body>
</html>
