<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Skills.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Skills</title>
</head>
<body>
    <div class="skills">
        <% skills.forEach(skill => { %>
            <div class="each">
                <div class="box">
                    <div class="content">
                        <i class="<%= skill.icon %>"></i>
                        <h2><%= skill.name %></h2>
                        <% if (loggedIn && user.role === 'admin') { %>
                          <a class="delete-button" href="/skills/<%= skill._id %>/delete">Delete</a>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>

